body{
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
}

.App {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
}

button {
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(32,32,32);
  background-color: rgb(80,80,80);
  color: whitesmoke;
  margin: 0px 0px 0px 0px;
}

.books-container {
  background-color: rgb(32,32,32);
  color: whitesmoke;
  padding: 10px;
  max-width: 800px;
  margin: 0px auto;

}

.book-container {
  background: rgb(32,32,32);
  margin:10px;
  padding: 10px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  justify-content: center;
}

.book-header {
  display: flex;
  justify-content: space-between;
}


.input-form-buttons {
  padding-top: 20px;
}

